.project-container {
    height: 100%;
}
.project-title {
    font-family: Roboto;
    font-size: 70px;
    font-weight: bold;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: column;
    flex-flow: column;
    line-height: 1;
    text-transform: uppercase;
    font-style: oblique;
    padding-bottom: 16px;
}

.form-add-project {
    display: flex;
    flex-flow: column;
}


.project-actions {
    margin-top: 8px;
    display: flex;
    justify-content: space-between;
}

.project-actions .button {
    display: flex;
    align-items: center;
    font-size: 18px;
}