.staff {
    width: 55%;
    height: 80%;
}

.manage-staff-title {
    font-family: Roboto;
    font-size: 70px;
    font-weight: bold;
    display: -ms-flexbox;
    display: flex;
    flex-flow: column;
    line-height: 1;
    text-transform: uppercase;
    font-style: oblique;
    padding-bottom: 16px;
}

.form-add-programmer {
    display: grid;
    width: 50%;
}

.form-header {
    padding: 8px;
    font-weight: 500;
    border-bottom: 1px solid #E0E0E0;
}

.form-inputs {
    padding: 8px;
    border-bottom: 1px solid #E0E0E0;
    display: flex;
    flex-flow: column;
}