.landing-container {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}
.introduction {
    display: flex;
    flex-flow: column;
    width: 50%;
    padding-bottom: 16px;
    align-self: center;
}
.introduction__app-name {
    font-weight: bold;
    color: #388E3C;
    font-size: 62px;
    padding-bottom: 16px;
}

.app-description {
    font-size: 22px;
}
.app-description__app-name {
    font-weight: bold;
    color: #388E3C;
}

.actions {
    display: grid;
    height: 200px;
    grid-template-columns: 50% 50%;
}

.actions__sign-in {
    cursor: pointer;
    flex: 1 1 auto;
    background-color: #66BB6A;
    transition: all 0.2s ease-in;
}
.actions__sign-in::after {
    content: "Sign in";
    width: 100%;
    height: 200px;
    background: transparent;
    color: #F5F5F5;
    transform-origin: bottom left;
    transform: skew(-28deg,0deg);
    font-size: 74px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 22px;
    text-transform: uppercase;
    font-weight: 500;
}
.actions__sign-in:hover {
    background-color: #43A047;
}

.actions__sign-up {
    cursor: pointer;
    flex: 1 1 auto;
    background-color: #7E57C2;
    transition: all 0.2s ease-in;
}
.actions__sign-up::after {
    content: "Sign up";
    width: 100%;
    height: 200px;
    background: #7E57C2;
    color: #F5F5F5;
    transform-origin: bottom left;
    transform: skew(-28deg,0deg);
    font-size: 74px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 22px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.2s ease-in;
}

.actions__sign-up:hover {
    background-color: #5E35B1;
}
.actions__sign-up:hover::after {
    background-color: #5E35B1;
}

.fade-in-enter.fade-in-enter-active {
    animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
