.landing-container {
    display: flex;
    flex-flow: column;
    flex: 1 1 auto;
}
.introduction {
    display: flex;
    flex-flow: column;
    width: 50%;
    padding-bottom: 16px;
    align-self: center;
}
.app-name {
    font-family: Roboto;
    font-size: 70px;
    font-weight: bold;
    display: flex;
    flex-flow: column;
    line-height: 1;
    text-transform: uppercase;
    font-style: oblique;
    padding-bottom: 16px;
}

.purple-color {
    color: #3F51B5;
}

.bold {
    font-weight: bold;
}

.app-description {
    font-size: 22px;
}

.main-actions {
    display: flex;
    justify-content: space-evenly;
    background-color: #7986CB;
    border-top: 1px solid#3F51B5;
    border-bottom: 1px solid#3F51B5;
    font-size: 24px;
    padding: 26px;
    color: white;
}

.main-actions .button {
    border: none;
    font-family: Roboto;
    border-right: 1px solid#3F51B5;
    border-left: 1px solid#3F51B5;
}

.button {
    border: none;
    background: transparent;
    outline: none;
    position: relative;
    display: inline-block;
    line-height: 50px;
    padding: 0 16px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

.card {
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    will-change: transform;
    border-radius: 2px;
    background-color: white;
}

.fade-in-enter.fade-in-enter-active {
    animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
