.components {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #B3E5FC;
    width: 100%;
    overflow: auto;
}

::-webkit-scrollbar {
    display: none;
}