
.auth {
    width: 45%;
    display: grid;
    grid-template-rows: 20% 70% auto;
    font-family: Roboto;
}

.card {
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    will-change: transform;
    border-radius: 2px;
    background-color: white;
}

.action-name-container {
    background-color: #5E35B1;
    display: flex;
}

.action-name-container__name {
    color: white;
    font-size: 52px;
    padding: 8px 8px 8px 22px;
    text-transform: uppercase;
    font-style: oblique;
}

.credentials {
    display: flex;
    flex-flow: column;
    padding: 8px 8px 8px 22px;
}

.auth__actions {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #E0E0E0;
}

.button {
    border: none;
    background: transparent;
    outline: none;
    position: relative;
    display: inline-block;
    line-height: 50px;
    padding: 0 16px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    color: black;
}

.scale-in-enter.scale-in-enter-active {
    animation: slide-in-fwd-center 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.scale-in-exit.scale-in-exit-active {
    animation: slide-out-bck-center 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@keyframes slide-out-bck-center {
    0% {
        transform: translateZ(0);
        opacity: 1;
    }
    100% {
        transform: translateZ(-1100px);
        opacity: 0;
    }
}

@keyframes slide-in-fwd-center {
    0% {
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        transform: translateZ(0);
        opacity: 1;
    }
}

.backdrop {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #9E9E9E80;
    justify-content: center;
    align-items: center;
}

.show {
    display: flex;
}

.spinner {
    animation: rotator 0.8s ease-in-out infinite;
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.path {
    stroke-dasharray: 45;
    stroke-dashoffset: 5;
    transform-origin: center;
    animation: colors 5.6s ease-in-out infinite;
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }
    25% {
        stroke: #DE3E35;
    }
    50% {
        stroke: #F7C223;
    }
    75% {
        stroke: #1B9A59;
    }
    100% {
        stroke: #4285F4;
    }
}
